@media (prefers-color-scheme: dark){
  .formulario {
    display: flex;
  }

  .formulario-inputs {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }

  .formulario-inputs-row > .MuiFormControl-root,
  .formulario-inputs-row > .MuiTextField-root {
    flex: 1;
  }

  .formulario-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo-section {
    border: 2px dashed #666;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #222;
  }

  .photo-preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .photo-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  button,
  .MuiButton-root {
    padding: 0.75rem 1.5rem;
    background-color: #007bff !important;
    color: white !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    text-transform: none;
  }

  button:hover,
  .MuiButton-root:hover {
    background-color: #0056b3 !important;
  }

  .MuiInputBase-input,
  .MuiInputLabel-root,
  .MuiSelect-icon {
    color: #fff !important;
  }

  .MuiOutlinedInput-root {
    background-color: #333 !important;
  }

  .MuiInputBase-root::after,
  .MuiInputBase-root::before {  
    border-bottom: 1px solid #fff !important;
  }

  .MuiFormLabel-root.Mui-focused {
    color: #007bff !important;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #fff !important;
  }

  .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #007bff !important;
  }

  .MuiRadio-root .MuiSvgIcon-root {
    fill: #fff;
  }

  .MuiFormControlLabel-label {
    color: #fff;
  }

  .tipoCadastroFormControl {
    padding: 10px; /* Ajuste o padding conforme necessário */
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 8px;
  }
}
@media (prefers-color-scheme: light){
  .formulario {
    display: flex;
    padding: 20px;
    border-radius: 8px;
    /* Você pode   adicionar uma cor de fundo clara se desejar */
    /* background-color: #f9f9f9;   */
  }
  
  .formulario-inputs {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
  }
  
  .formulario-inputs-row > .MuiFormControl-root,
  .formulario-inputs-row > .MuiTextField-root {
    flex: 1;
  }
  
  .formulario-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-section {
    border: 2px dashed #ccc; /* Alterado de #666 para #ccc */
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    width: 200px;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f7f7f7; /* Alterado de #222 para #f7f7f7 */
  }
  
  .photo-preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .photo-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  button,
  .MuiButton-root {
    padding: 0.75rem 1.5rem;
    background-color: #007bff !important;
    color: white !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 16px;
    text-transform: none;
  }
  
  button:hover,
  .MuiButton-root:hover {
    background-color: #0056b3 !important;
  }
  
  .MuiInputBase-input,
  .MuiInputLabel-root,
  .MuiSelect-icon {
    color: #000 !important; /* Alterado de #fff para #000 */
  }
  
  .MuiOutlinedInput-root {
    background-color: #fff !important; /* Alterado de #333 para #fff */
  }
  
  .MuiInputBase-root::after,
  .MuiInputBase-root::before {
    border-bottom: 1px solid #000 !important; /* Alterado de #fff para #000 */
  }
  
  .MuiFormLabel-root.Mui-focused {
    color: #007bff !important;
  }
  
  .MuiOutlinedInput-notchedOutline {
    border-color: #000 !important; /* Alterado de #fff para #000 */
  }
  
  .MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #007bff !important;
  }
  
  .MuiRadio-root .MuiSvgIcon-root {
    fill: #000; /* Alterado de #fff para #000 */
  }
  
  .MuiFormControlLabel-label {
    color: #000; /* Alterado de #fff para #000 */
  }
  
  .tipoCadastroFormControl {
    padding: 10px; /* Ajuste o padding conforme necessário */
    margin-bottom: 20px;
    background-color: #f7f7f7; /* Alterado de #333 para #f7f7f7 */
    border-radius: 8px;
  }
} 
.div-cadastro{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
}
.acordeao {
  color: white !important;
  background-color: #222 !important;
}   
.formulario-inputs-row {
  display: flex;
  flex-wrap: wrap;  
  gap: 16px;
  margin-bottom: 16px;
}