.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .form-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .form-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 2;
  }
  
  .field-group {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  
  .field-group.full-width {
    flex-direction: column;
    flex: 1; /* Full width */
  }
  
  label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  
  input,
  select,
  textarea {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    background-color: #1b1b1b;
  }
  
  textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  .photo-section {
    flex: 1;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    width: 200px; /* Ajustável para diferentes tamanhos */
    height: 300px; /* Ajustável para diferentes tamanhos */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f0f0f0;
  }
  
  .photo-preview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .photo-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  